section.hero
	.hero__left
		.hero__container.hero__container--big-margin
			.hero__body
				.hero__info
					h1.title.title--m.title--uppercase.hero__title.hero__title--w620 Поделись историей о близком человеке
					.hero__text.hero__text--w580
						| Лучший способ сохранить память о близком человеке — создать о нем страницу памяти
					.hero__banner
						.hero__banner-icon
							+svg("storage_icon")
						.hero__banner-text
							| Данные будут храниться в течении многих лет с возможностью быстрого доступа через QR-код
				.hero__pages
					.hero__page
						img.hero__page-img(src='./images/photo-1.png' alt='img')
					.hero__page
						img.hero__page-img(src='./images/photo-2.png' alt='img')
					.hero__page
						img.hero__page-img(src='./images/photo-3.png' alt='img')
					.hero__page
						img.hero__page-img(src='./images/photo-4.png' alt='img')
					.hero__page
						img.hero__page-img(src='./images/photo-5.png' alt='img')
					.hero__page
						img.hero__page-img(src='./images/photo-6.png' alt='img')
					.hero__pages-text
						| 17036 страниц
						br
						| уже создано
				.hero__imgs
					img.hero__img.hero__img--one.shadow__img(src='./images/hero--one.png' alt='img')
					img.hero__img.hero__img--two.shadow__img(src='./images/hero--two.png' alt='img')
					picture.hero__img.hero__img--slogan
						source(media='(min-width: 1025px)' srcset='./images/hero-slogan.png')
						img(src='./images/hero-slogan-mob.png' alt='img')
	.hero__right
		img.hero__right-bg(src='./images/hero-bg.png' alt='img')
